@model LocalizableStrings

<div class="mb-3">
    <label asp-for="Bulgarian" class="form-label"></label>
    <input asp-for="Bulgarian" class="form-control" />
    <span asp-validation-for="Bulgarian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Bulgarian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Croatian" class="form-label"></label>
    <input asp-for="Croatian" class="form-control" />
    <span asp-validation-for="Croatian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Croatian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Czech" class="form-label"></label>
    <input asp-for="Czech" class="form-control" />
    <span asp-validation-for="Czech" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Czech").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Danish" class="form-label"></label>
    <input asp-for="Danish" class="form-control" />
    <span asp-validation-for="Danish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Danish").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Dutch" class="form-label"></label>
    <input asp-for="Dutch" class="form-control" />
    <span asp-validation-for="Dutch" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Dutch").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="English" class="form-label"></label>
    <input asp-for="English" class="form-control" />
    <span asp-validation-for="English" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "English").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Estonian" class="form-label"></label>
    <input asp-for="Estonian" class="form-control" />
    <span asp-validation-for="Estonian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Estonian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Finnish" class="form-label"></label>
    <input asp-for="Finnish" class="form-control" />
    <span asp-validation-for="Finnish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Finnish").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="French" class="form-label"></label>
    <input asp-for="French" class="form-control" />
    <span asp-validation-for="French" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "French").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="German" class="form-label"></label>
    <input asp-for="German" class="form-control" />
    <span asp-validation-for="German" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "German").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Greek" class="form-label"></label>
    <input asp-for="Greek" class="form-control" />
    <span asp-validation-for="Greek" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Greek").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Hungarian" class="form-label"></label>
    <input asp-for="Hungarian" class="form-control" />
    <span asp-validation-for="Hungarian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Hungarian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Irish" class="form-label"></label>
    <input asp-for="Irish" class="form-control" />
    <span asp-validation-for="Irish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Irish").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Italian" class="form-label"></label>
    <input asp-for="Italian" class="form-control" />
    <span asp-validation-for="Italian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Italian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Latvian" class="form-label"></label>
    <input asp-for="Latvian" class="form-control" />
    <span asp-validation-for="Latvian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Latvian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Lithuanian" class="form-label"></label>
    <input asp-for="Lithuanian" class="form-control" />
    <span asp-validation-for="Lithuanian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Lithuanian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Maltese" class="form-label"></label>
    <input asp-for="Maltese" class="form-control" />
    <span asp-validation-for="Maltese" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Maltese").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Polish" class="form-label"></label>
    <input asp-for="Polish" class="form-control" />
    <span asp-validation-for="Polish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Polish").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Portuguese" class="form-label"></label>
    <input asp-for="Portuguese" class="form-control" />
    <span asp-validation-for="Portuguese" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Portuguese").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Romanian" class="form-label"></label>
    <input asp-for="Romanian" class="form-control" />
    <span asp-validation-for="Romanian" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Romanian").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Slovak" class="form-label"></label>
    <input asp-for="Slovak" class="form-control" />
    <span asp-validation-for="Slovak" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Slovak").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Slovene" class="form-label"></label>
    <input asp-for="Slovene" class="form-control" />
    <span asp-validation-for="Slovene" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Slovene").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Spanish" class="form-label"></label>
    <input asp-for="Spanish" class="form-control" />
    <span asp-validation-for="Spanish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Spanish").FirstOrDefault()?.Description)
</div>
<div class="mb-3">
    <label asp-for="Swedish" class="form-label"></label>
    <input asp-for="Swedish" class="form-control" />
    <span asp-validation-for="Swedish" class="text-danger"></span>
    @await Html.PartialAsync("_GoogleTranslatePartial",
            @ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Swedish").FirstOrDefault()?.Description)
</div>
