@model List<ProductIngredientDto>
@using Microsoft.Extensions.Options
@inject IHtmlLocalizer<SharedResource> Localizer
@inject IOptions<Producer> Producer

@{
    IngredientListForCategoryFormat ingredientListForCategoryFormat = Producer.Value.IngredientListFormat;
    string ingredientListForCategoryFormatStart, ingredientListForCategoryFormatSeparator, ingredientListForCategoryFormatEnd;

    switch (ingredientListForCategoryFormat)
    {
        default:
        case IngredientListForCategoryFormat.Parentheses:
            ingredientListForCategoryFormatStart = " (";
            ingredientListForCategoryFormatSeparator = ", ";
            ingredientListForCategoryFormatEnd = ")";
            break;
        case IngredientListForCategoryFormat.Colon:
            ingredientListForCategoryFormatStart = ": ";
            ingredientListForCategoryFormatSeparator = ", ";
            ingredientListForCategoryFormatEnd = "";
            break;
        case IngredientListForCategoryFormat.ENumber:
            ingredientListForCategoryFormatStart = " ";
            ingredientListForCategoryFormatSeparator = " ";
            ingredientListForCategoryFormatEnd = "";
            break;
    }

    var query = Model.GroupBy(pi => pi.Ingredient?.Category)
                     .Select(group => new
                     {
                         Category = group.Key,
                         MinOrder = group.Min(pi => pi.Order),
                         Ingredients = group.OrderBy(pi => pi.Order).Select(pi => pi.Ingredient).ToList()
                     })
                     .OrderBy(g => g.MinOrder)
                     .ToList();

    bool parenthesesOpend = false;

    @Html.Raw("<p class='ingredient-list'>");

    @foreach(var group in query)
    {
        @Html.Raw("<span class='category-group'>");

        IngredientCategory? category = group.Category;

        if(category!= null && category != IngredientCategory.RawMaterial && category != IngredientCategory.Other)
        {
            string categoryName = EnumHelper.GetDisplayName(category) ?? "";
            string localizedCategoryName = Localizer[categoryName].Value;

            // Start category item
            @Html.Raw($"<span class='category'>{localizedCategoryName}</span>");

            // Start ingredients in category list
            @Html.Raw(ingredientListForCategoryFormatStart);
            parenthesesOpend = true;
        }

        @foreach (IngredientDto? ingredient in group.Ingredients)
        {
            if(ingredient != null)
            {
                string ingredientText;

                if (ingredientListForCategoryFormat == IngredientListForCategoryFormat.ENumber && ingredient.ENumber != null)
                {
                    ingredientText = $"E{ingredient.ENumber}";
                }
                else
                {
                    // Localization with string in database
                    string? localizedName = ingredient.LocalizableStrings.GetLocalized(@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName);

                    if (String.IsNullOrEmpty(localizedName))
                    {
                        // Localization with shared resources
                        ingredientText = Localizer[ingredient.Name].Value;
                    }
                    else
                    {
                        ingredientText = localizedName;
                    }
                }

                string ingredientSpan = $"<span class='ingredient{(ingredient.Allergen ? " fw-bold" : "")}'>{ingredientText}</span>";
                    
                @Html.Raw(ingredientSpan);

                if (ingredient != group.Ingredients.Last())
                {
                    @Html.Raw(ingredientListForCategoryFormatSeparator);
                }
            }
        }

        // End ingredients in category list
        @if (parenthesesOpend)
        {
            @Html.Raw(ingredientListForCategoryFormatEnd);
            parenthesesOpend = false;
        }

        // End category item
        @Html.Raw("</span>");

        @if (group != query.Last())
        {
            @Html.Raw(", ");
        }
        else
        {
            @Html.Raw(".");
        }
    }

    @Html.Raw("</p>");

}