@model ResponsibleConsumption
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="text-center">
    <div class="row align-items-start">
        @if (Model.WarningDrinkingDuringPregnancy)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-during-pregnancy.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingDuringPregnancy").FirstOrDefault()?.Description"
                     title="@Localizer[ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingDuringPregnancy").FirstOrDefault()?.Description ?? ""]" />
            </div>
        }
        @if (Model.WarningDrinkingBelowLegalAge)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-below-legal-age.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingBelowLegalAge").FirstOrDefault()?.Description"
                     title="@Localizer[ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingBelowLegalAge").FirstOrDefault()?.Description ?? ""]" />
            </div>
        }
        @if (Model.WarningDrinkingWhenDriving)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-when-driving.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingWhenDriving").FirstOrDefault()?.Description"
                     title="@Localizer[ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingWhenDriving").FirstOrDefault()?.Description ?? ""]" />
            </div>
        }
    </div>
</div>

@*
    Alternative: Stack icons

    <i class="d-flex justify-content-center align-items-center position-relative bi bi-ban lh-1 text-danger fs-1">
        <i class="position-absolute bi bi-car-front-fill fs-4 text-black"></i>
    </i>
*@