@model ResponsibleConsumption

<div class="text-center">
    <div class="row align-items-start">
        @if (Model.WarningDrinkingDuringPregnancy)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-during-pregnancy.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingDuringPregnancy").FirstOrDefault()?.Description"
                     title="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingDuringPregnancy").FirstOrDefault()?.Description" />
            </div>
        }
        @if (Model.WarningDrinkingBelowLegalAge)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-below-legal-age.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingBelowLegalAge").FirstOrDefault()?.Description"
                     title="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingBelowLegalAge").FirstOrDefault()?.Description" />
            </div>
        }
        @if (Model.WarningDrinkingWhenDriving)
        {
            <div class="col">
                <img class="img-fluid m-3"
                     style="max-height: 75px"
                     loading="lazy"
                     src="~/img/warning-drinking-when-driving.svg"
                     alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingWhenDriving").FirstOrDefault()?.Description"
                     title="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingWhenDriving").FirstOrDefault()?.Description" />
            </div>
        }
    </div>
</div>