@model ELabel.ViewModels.LabelDto
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center py-3">
    <h1 class="fs-1 text-uppercase">@Model.Title</h1>
    <h2 class="fs-1">
        @if(Model.FoodBusinessOperator?.Name is not null)
        {
            @Model.FoodBusinessOperator.Name
        }
        else
        {
            @ViewData["ProducerName"]
        }
    </h2>
    <p class="fs-3">@Model.WineInformation?.Appellation</p>
</div>

@if (Model.Image != null)
{
    <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid"
             src="@Model.Image.DataUrl"
             @if(Model.Image.Width != null)
             {
                 @:width='@Model.Image.Width'
             }
             @if(Model.Image.Height != null)
             {
                 @:height='@Model.Image.Height'
             }
             alt="@Model.Name"
        >
    </div>
}

@if (Model.WineInformation is not null || Model.Volume is not null)
{
    <div class="d-flex justify-content-center mb-3">
        @if (Model.WineInformation is not null && Model.WineInformation.Type is not null)
        {
            <div class="p-2">
                @Localizer[EnumHelper.GetDisplayDescription(Model.WineInformation.Type)!]
            </div>
        }

        @if (Model.WineInformation is not null && Model.WineInformation.SugarContent is not null)
        {
            <div class="p-2">
                @Localizer[EnumHelper.GetDisplayName(Model.WineInformation.SugarContent)!]
            </div>
        }

        @if (Model.Volume is not null)
        {
            <div class="p-2">
                @Html.DisplayFor(model => model.Volume)
            </div>
        }

        @if (Model.WineInformation is not null && Model.WineInformation.Alcohol is not null)
        {
            <div class="p-2">
                @Html.DisplayFor(model => model.WineInformation!.Alcohol)
            </div>
        }
    </div>
    <hr />
}

@if (Model.ProductIngredients is not null && Model.ProductIngredients.Count > 0)
{
    <div class="pb-3">
        <h3>@Localizer["Ingredients"]</h3>
        <div class="ps-2">

            @Html.DisplayFor(model => model.ProductIngredients, "ProductIngredientsText")
        
        </div>
        @if (Model.PackagingGases != null && Model.PackagingGases != PackagingGases.None)
        {
            <div class="ps-2">
                <p>@Localizer[EnumHelper.GetDisplayName(Model.PackagingGases)!]<span>.</span></p>
            </div>
        }
    </div>
    <hr/>
}

@if (Model.NutritionInformation is not null && Model.NutritionInformation.Energy is not null)
{
    <div class="pb-3">
        <h3>@Localizer["Nutrition Information"]</h3>
        <div>

        @Html.DisplayFor(model => model.NutritionInformation)

        </div>
    </div>
    <hr />
}

@if (Model.ResponsibleConsumption is not null && Model.ResponsibleConsumption.WarningDrinkingDuringPregnancy)
{
    <div class="pb-3">
        <h3>@Localizer["Responsible Consumption"]</h3>
        <div>

            @Html.DisplayFor(model => model.ResponsibleConsumption)

        </div>
    </div>
    <hr />
}

@if (Model.Certifications is not null && Model.Certifications.Organic)
{
    <div class="pb-3">
        <h3>@Localizer["Certifications"]</h3>
        <div>

            @Html.DisplayFor(model => model.Certifications)

        </div>
    </div>
}

@if (Model.FoodBusinessOperator is not null || Model.Logistics?.Ean is not null || Model.Logistics?.Country is not null)
{
    <div class="pb-3">
        <div class="text-center text-body-secondary">

            <p>
                @if (Model.Logistics?.Ean is not null)
                {
                    <span>EAN</span>
                    Html.Raw("&nbsp;");
                    <span class="font-monospace">@Model.Logistics?.Ean</span>
                }
                @if (Model.Logistics?.Country is not null)
                {
                    <span>@Model.Logistics?.Country</span>
                }
            </p>

            @if(Model.FoodBusinessOperator is not null)
            {
                <p>@Model.FoodBusinessOperator.ToText()</p>
            }

        </div>
    </div>
}