@model QrCodeInfo

<div class="float-end" style="width: 100px; height: 100px;">
    @Html.Raw(Model.SvgString)
</div>

<dl class="row">
    <dt class="col-sm-2 mb-2">
        @Html.DisplayNameFor(model => model.Content)
    </dt>
    <dd class="col-sm-10">
        <a id="qr-code-content" href="@Model.Content" target="_blank">@Model.Content</a>
        <button id="qr-code-content-button" type="button" class="btn btn-light btn-sm ms-2" title="Copy link"><i class="bi bi-link"></i></button>
    </dd>
    <dt>
        <span class="fw-light">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Content").FirstOrDefault()?.Description</span>
    </dt>
</dl>

<div class="my-4">
    <a class="btn btn-secondary btn-sm" asp-controller="QrCode" asp-action="Download" asp-route-content="@Model.Content" asp-route-filename="@Model.Filename" target="_blank">Download SVG</a>
    <a class="btn btn-secondary btn-sm" asp-controller="QrCode" asp-action="Download" asp-route-content="@Model.Content" asp-route-filename="@Model.Filename" asp-route-format="png" target="_blank">Download PNG</a>
    <a class="btn btn-secondary btn-sm" asp-controller="QrCode" asp-action="Download" asp-route-content="@Model.Content" asp-route-filename="@Model.Filename" asp-route-format="jpeg" target="_blank">Download JPEG</a>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>

<script>
    jQuery(document).ready(function ($) {
        $('#qr-code-content-button').on('click', function () {
            // Get the text
            var copyText = document.getElementById("qr-code-content").getAttribute("href");

            // Copy the text to clipboard
            navigator.clipboard.writeText(copyText);

            // Alert the copied text
            alert("Copied the text: " + copyText);
        });
    });
</script>
