@model ELabel.ViewModels.WineProductEditDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" aria-describedby="NameHelp" />
                <div id="NameHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Name").FirstOrDefault()?.Description</div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" aria-describedby="VolumeHelp" />
                <div id="VolumeHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Volume").FirstOrDefault()?.Description</div>
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WineVintage" class="control-label"></label>
                <input asp-for="WineVintage" class="form-control" aria-describedby="WineVintageHelp" />
                <div id="WineVintageHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WineVintage").FirstOrDefault()?.Description</div>
                <span asp-validation-for="WineVintage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WineType" class="control-label"></label>
                <select asp-for="WineType" asp-items="Html.GetEnumSelectList<WineType>()" class="form-select" aria-describedby="WineTypeHelp">
                    <option value="">(none)</option>
                </select>
                <div id="WineTypeHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WineType").FirstOrDefault()?.Description</div>
                <span asp-validation-for="WineType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WineStyle" class="control-label"></label>
                <select asp-for="WineStyle" asp-items="Html.GetEnumSelectList<WineStyle>()" class="form-select" aria-describedby="WineStyleHelp">
                    <option value="">(none)</option>
                </select>
                <div id="WineStyleHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WineStyle").FirstOrDefault()?.Description</div>
                <span asp-validation-for="WineStyle" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WineAppellation" class="control-label"></label>
                <input asp-for="WineAppellation" class="form-control" aria-describedby="WineAppellationHelp" />
                <div id="WineAppellationHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WineAppellation").FirstOrDefault()?.Description</div>
                <span asp-validation-for="WineAppellation" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ean" class="control-label"></label>
                <input asp-for="Ean" class="form-control" aria-describedby="EanHelp" />
                <div id="EanHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Ean").FirstOrDefault()?.Description</div>
                <span asp-validation-for="Ean" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
