@using ELabel.Extensions
@using ELabel.ViewModels
@model ELabel.ViewModels.WineProductDetailsDto
@{
    ViewData["Title"] = @Model.Name;
    if (Model.WineInformation.Vintage != null)
    {
        ViewData["Title"] += " " + Model.WineInformation.Vintage.ToString();
    }
    ViewData["Subtitle"] = "A&D Wines";
    ViewData["Description"] = @Model.WineInformation.Appellation;
    Layout = "_PublicLayout";
}

@if (Model.Image != null)
{
    <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid"
             src="@Model.Image.DataUrl"
             @if(Model.Image.Width != null)
             {
                 @:width='@Model.Image.Width'
             }
             @if(Model.Image.Height != null)
             {
                 @:height='@Model.Image.Height'
             }
             alt="@Model.Name"
        >
    </div>
}

<div class="d-flex justify-content-center mb-3">
    @if(Model.WineInformation.Type != null)
    {
        <div class="p-2">
            @EnumHelper.GetDisplayDescription(Model.WineInformation.Type)
        </div>
    }

    @if(Model.WineInformation.Style != null)
    {
    <div class="p-2">
        @Html.DisplayFor(model => model.WineInformation.Style)
    </div>
    }

    @if(Model.Volume != null)
    {
    <div class="p-2">
        @Html.DisplayFor(model => model.Volume)
    </div>
    }

    @if(Model.WineInformation.Alcohol != null)
    {
    <div class="p-2">
        @Html.DisplayFor(model => model.WineInformation.Alcohol)
    </div>
    }
</div>
<hr />

@if (Model.ProductIngredients != null && Model.ProductIngredients.Count > 0)
{
    <div class="pb-3">
        <h3>Ingredients</h3>
        <div class="">

            @Html.DisplayFor(model => model.ProductIngredients, "ProductIngredientsText")
        
        </div>
    </div>
    <hr/>
}

@if (Model.NutritionInformation != null && Model.NutritionInformation.Energy != null)
{
    <div class="pb-3">
        <h3>Nutrition Information</h3>
        <div class="">

        @Html.DisplayFor(model => model.NutritionInformation)

        </div>
    </div>
    <hr />
}

@if (Model.ResponsibleConsumption != null && Model.ResponsibleConsumption.WarningDrinkingDuringPregnancy)
{
    <div class="pb-3">
        <h3>Responsible Consumption</h3>
        <div class="">

            @Html.DisplayFor(model => model.ResponsibleConsumption)

        </div>
    </div>
    <hr />
}

@if (Model.Certifications != null && Model.Certifications.Organic)
{
    <div class="pb-3">
        <h3>Certifications</h3>
        <div class="">

            @Html.DisplayFor(model => model.Certifications)

        </div>
    </div>
}
