@model WineInformation

<div class="mb-3">
    <label asp-for="Vintage" class="form-label"></label>
    <input asp-for="Vintage" class="form-control" aria-describedby="WineVintageHelp" />
    <div id="WineVintageHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Vintage").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Vintage" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Type" class="form-label"></label>
    <select asp-for="Type" asp-items="Html.GetEnumSelectList<WineType>()" class="form-select" aria-describedby="WineTypeHelp">
        <option value="">(none)</option>
    </select>
    <div id="WineTypeHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Type").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="SugarContent" class="form-label"></label>
    <select asp-for="SugarContent" asp-items="Html.GetEnumSelectList<WineSugarContent>().OrderBy(e => int.Parse(e.Value))" class="form-select" aria-describedby="WineSugarContentHelp">
        <option value="">(none)</option>
    </select>
    <div id="WineSugarContentHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "SugarContent").FirstOrDefault()?.Description</div>
    <span asp-validation-for="SugarContent" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Appellation" class="form-label"></label>
    <input asp-for="Appellation" class="form-control" aria-describedby="WineAppellationHelp" />
    <div id="WineAppellationHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Appellation").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Appellation" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Alcohol" class="form-label"></label>
    <input asp-for="Alcohol" class="form-control" aria-describedby="WineAlcoholHelp" />
    <div id="WineAlcoholHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Alcohol").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Alcohol" class="text-danger"></span>
</div>