@model ELabel.ViewModels.WineProductDetailsDto

<div>
    <dl class="row">
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
    </dl>
</div>

<div>
    <h4>Wine</h4>
    <hr />
    
    @Html.DisplayFor(model => model.WineInformation)

</div>

<div>
    <h4>Nutrition information</h4>
    <hr />
 
    @Html.DisplayFor(model => model.NutritionInformation)

</div>

<div>
    <h4>Responsible consumption</h4>
    <hr />

    @Html.DisplayFor(model => model.ResponsibleConsumption)

</div>

<div>
    <h4>Certifications</h4>
    <hr />

    @Html.DisplayFor(model => model.Certifications)

</div>

<div>
    <h4>Food Business Operator</h4>
    <hr />

    @Html.DisplayFor(model => model.FoodBusinessOperator)

</div>

<div>
    <h4>Logistics</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Sku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sku)
        </dd>
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Ean)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ean)
        </dd>
    </dl>
</div>