@model ELabel.ViewModels.ImageFileUpload

@{
    ViewData["Title"] = "Change Image";
}

<h2>Change Image</h2>

<h4>@ViewData["ProductTitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-action="ChangeImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
            <input type="hidden" asp-for="ProductId" />
            <div class="mb-3">
                <label asp-for="File" class="form-label"></label>
                <input asp-for="File" class="form-control" accept="image/*" aria-describedby="FileHelp" />
                <div id="FileHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "File").FirstOrDefault()?.Description</div>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-6 col-md-offset-2">

        <div class="p-3 bg-light rounded-3">
            <h3>Transparent Background</h3>
            <p>To ensure your image look stunning in both dark and light modes, we recommend uploading images with a transparent background.</p>
            <p>If you don't have images with transparent backgrounds, don't worry! You can easily achieve this by using online background removal services. Here are a few recommendations:</p>
            <ul>
                <li><a href="https://www.adobe.com/express/feature/image/remove-background" target="_blank" rel="noopener">Adobe Express Free image background remover</a></li>
                <li><a href="https://www4.lunapic.com/editor/?action=background-removal" target="_blank" rel="noopener">LunaPic Background Removal</a></li>
            </ul>
            <small>Take a moment to check and, if necessary, update your images. This small adjustment will go a long way in enhancing the overall aesthetics of your content.</small>
        </div>

        <br />

        <div class="p-3 bg-light rounded-3">
            <h3>Image Optimization</h3>
            <p>For better performance, image will be resized and compressed for web.</p>
            <p>Please provide a product image, in any format, with one of it's with <code>@Image.MinBiggerSideLenght px</code>.</p>
            <small>Uploaded images will be scaled down to a maximum size of @Image.MaxBiggerSideLenght x @Image.MaxBiggerSideLenght px and will be stored in <a href="https://en.wikipedia.org/wiki/WebP" target="_blank" rel="noopener">WebP format</a>, with @Image.DefaultQuality% quality.</small>
        </div>

    </div>

</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.ProductId">Back to Product</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
