@model ELabel.ViewModels.WineProductDetailsDto

@{
    ViewData["Title"] = "Product details";
}

<h1>Product</h1>

@if (Model.Image != null)
{
    <div class="float-end">
        <img class="img-fluid float-end ms-5"
             style="max-width: 100px"
             src="@Model.Image.DataUrl"
             @if(Model.Image.Width != null)
             {
                 @:width='@Model.Image.Width'
             }
             @if(Model.Image.Height != null)
             {
                 @:height='@Model.Image.Height'
             }
             alt="@Model.Name">
    </div>
}

<partial name="_DetailsPartial" />

@if (Model.ProductIngredients != null && Model.ProductIngredients.Count > 0)
{
    <div class="mb-3">
        <h4>Ingredients</h4>
        <hr />
        <div class="row col-12 col-md-5 mb-2">

            @Html.DisplayFor(model => model.ProductIngredients, "ProductIngredients")

        </div>
        @if(Model.PackagingGases != PackagingGases.None)
        {
            <p class="ps-1 mb-2">@EnumHelper.GetDisplayName(Model.PackagingGases)<span>.</span></p>
        }
    </div>
}

<div class="mb-3">
    <h4>QR Code</h4>
    <hr />

    @Html.DisplayFor(model => model.ShortUrl, "QrCodeInfo")

</div>

<partial name="_AuditableEntityPartial" />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (Model != null && Model.Image != null)
    {
        <a asp-action="DeleteImage" asp-route-id="@Model?.Id">Delete image</a> <span>|</span>
    }
    <a asp-action="ChangeImage" asp-route-id="@Model?.Id">Change image</a> |
    <a asp-action="Index">Back to List</a>
</div>
